@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body, html{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}
@media (min-width: 1200px){
	.container {
		width: 960px;
	}
}
h1{
	font-weight: 700;
	font-size: 46px;
}

h2{
	text-transform: uppercase;
	font-size: 30px;
}
h3{
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 26px;
}

h4{
	text-transform: uppercase;
	font-size: 16px;
	word-spacing: 2px;
}
h5{
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 2px;
}
h6{
	text-transform: uppercase;
	font-size: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

p{
	font-weight: 400;
}
hr{
	width: 50px;
	border-color: #c59a6d;
}
a {color: #222222}
a:hover,
a:focus,
.footerPhone:hover,
.footerEmail:hover,
.footerGitHub:hover,
.footerLinkedIn:hover,
.footerResume:hover,
.border:hover,
.aboutMeGitHub:hover,
.aboutMeLinkedIn:hover,
.aboutMePhone:hover,
.aboutMeEmail:hover,
.aboutMeResume:hover,
.aboutMeBorder:hover{
	color: #c59a6d;
	text-decoration: none;
}
#home{
	background: url(../img/portfolio/wallpaper.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	padding-top: 60px;
	color: #ffffff;
}
#home a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #c59a6d;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	margin-top: 100px;
	color: #ffffff;
	cursor: pointer;
}
.content{
	padding-top: 16%;
}
.header-text.btn{
	border: 1px solid #ffffff;
	border-radius: 0;
	padding: 10px 30px;
	height: 100px;
	cursor: initial;

}

.header-text.btn:hover{
	color: inherit;
}
.header-text.btn:focus,
.header-text.btn:active:focus,
.header-text.btn.active:focus,
.header-text.btn.focus,
.header-text.btn:active.focus,
.header-text.btn.active.focus {
	outline: thin dotted transparent;
	outline: none;
	outline-offset: -2px;
}
.titleName {
	font-size: 65px;
}

.titleContainer hr{
	margin-top: 10px;
}
.typed-cursor {
	opacity: 1;
	padding: 10px 2px;
	background: #ffffff;
	margin: 10px;
	-webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}
.navbar{
	font-size: 20px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
span.typed-cursor {
	top: -5px;
	position: relative;
}

nav#menu span.fa.fa-bars{
	font-size: 40px;
	position: fixed;
	left: 120px;
	color: #C59A6D;
	cursor: pointer;
	z-index: 1;
}

.navmenu, .navbar-offcanvas {
width: 270px;
z-index: 10;
}
.navmenu-default,
.navbar-default .navbar-offcanvas {
	background-color: #1E2429;
	border-color: #1E2429;
	border: 0;
}
.navmenu-default .navmenu-nav>li>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover,
.navmenu-default .navmenu-nav>li>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
color: #C59A6D;
background-color: transparent;
}
.nav > li {
position: relative;
display: block;
text-align: center;
}
.navmenu-default .navmenu-nav>li>a,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a {
color: #ffffff;
text-transform: uppercase;
font-size: 12px;
line-height: 30px;
}
nav#menu span.fa.fa-bars:hover {
color: #C59A6D;
}
.navmenu-default .navmenu-nav>.active>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
color: #C59A6D;
background-color: transparent;
}

.close:hover{
	background: #c59a6d;
	color: #ffffff;
	opacity: 1;
}
.close{
	background: #fff;
	padding: 10px 12px;
	opacity: 1;
	transition: all 0.3s;
}
.closeLink{
	transition: all 0.3s;
}
.add-margin{
	margin-top: 50%;
}

#about-me,
#applications,
#tools{
	padding: 60px 0;
}

a.down-btn span.fa.fa-angle-down {
	font-size: 26px;
	border: 1px solid #c59a6d;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	cursor: pointer;
	color: #c59a6d;
	margin-top: 30px;
}

#overview-video {
	background: url(../img/bg2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;
}

#overview-video .overlay{
	background: rgba(34, 34, 34, 0.85);
	height: auto;
	min-height: 200px;
	padding: 12% 0 ;
}

#overview-video a span.fa.fa-play {
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin: auto 0;
}


.iconContainer{
	margin-top: 20px;
	margin-bottom: 0px;
	transition: all 0.3s;
	position: relative;
	padding: 20px 0px;
	display: inline-block;
}

.iconContainer:hover>h4,
.iconContainer:hover>span.fa{
	color: #c59a6d;
}
.iconContainer:hover{
	border-color: #c59a6d;
}
.iconContainer p{
	font-size: 14px;
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
}
.space{ padding-top: 40px; }

#cta{
	background: #282f35;
	padding: 4% 0;
}

a.btn.go-to-btn{
	text-transform: uppercase;
	border: 1px solid #c59a6d;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
a.btn.go-to-btn:hover{
	background: #c59a6d;
	color: #282f35;
}

.nopadding{
	padding: 0;
	margin: 0;
}

.portfolio-item .hover-bg{
	height: 280px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 55px 0;
	height: 100%;
	width: 100%;
	opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text>h5{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h5{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>.hline{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>.hline{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}
.hline{
	height: 5px;
	width: 30px;
	border-top: 2px solid #f1f1f1;
	margin: 0 auto
}

.hover-text a.lead{
	color: #c59a6d;
}


a.btn.read-more-btn{
	text-transform: uppercase;
	background: #c59a6d;
	color: #282f35;
	word-spacing: 2px;
	padding: 7px 30px;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
a.btn.read-more-btn:hover{
	background: #222222;
	color: #ffffff;
}

a.btn.send-btn{
	text-transform: uppercase;
	background: #c59a6d;
	color: #282f35;
	padding: 15px 35px;
	border-radius: 0;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.5s;
}
a.btn.send-btn:hover{
	background: transparent;
	border: 1px solid #c59a6d;
	color: #ffffff;
}

#clients {
	background: url(../img/bg3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

#clients .overlay{
	background: rgba(34, 34, 34, 0.85);
	height: auto;
	min-height: 200px;
	padding: 8% 0 ;
	color: #ffffff;
}

ul, ol{
	padding: 0;
	moz-padding: 0;
	webkit-padding: 0;
}

ul.clients li{
	display: inline-block;
	padding: 20px 40px;
	vertical-align: middle;
}

.team {
	border: 1px solid #c3c3c3;
	padding: 70px 20px;
	text-align: center;
	opacity: 0.7;
	transition: all 0.8s;
	max-height: 340px;
	margin-bottom: 30px;
}
.team:hover.hire,
.team.hire{
	height: 340px;
	border-color: #c59a6d;
	color: #c59a6d;
	opacity: 1;
}

.team.hire>a{
	color: #c59a6d;
}
.team hr{
	border-width: 2px;
	border-color: #dcc2a7;
}
.team:hover{
	opacity: 1;
	border: 1px solid #222;
}
.team img {
	width: 80px;
	margin: 0 auto;
}

#gitHubCalendar {
	background: url(../img/bg4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;
}

#gitHubCalendar .overlay{
	background: rgba(34, 34, 34, 0.85);
	height: auto;
	min-height: 200px;
	padding: 5% 0 ;
	color: #ffffff;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 2px 5px;
	filter: Alpha(Opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #C59A6D;
}

#contact{
	background: #282f35;
	padding: 50px 0 0 0;
	color: #ffffff;
	margin-top: -1px;
	margin-bottom: -1px;
}

ul.social li{
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
}

ul.social li a{
	color: #ffffff;
	font-size: 16px;
}

address strong{
	text-transform: uppercase;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
}
address:before{
	content: "\f041";
	display: inline-block;
  	font: normal normal normal 14px/1 FontAwesome;
  	font-size: 20px;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	color: #c59a6d;
  	vertical-align: middle;
  	margin-right: 15px;
  	margin-left: -30px;
}
address{
	font-style: italic;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

#contact input.form-control,
#contact textarea.form-control {
margin-bottom: 30px;
}

#contact .form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 7px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #1e2429;
	background-image: none;
	border: 0;
	border-top: 2px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	transition: all 0.5s;
}

#contact .form-control:focus {
	border-color: #C59A6D;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:    #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:    #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:    #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:    #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

nav#footer{
	background: #282f35;
	padding: 40px 0;
	color: #ffffff;
	border-bottom: 5px solid #c59a6d;
}
#footer span.fa{
	color: #c59a6d;
	font-size: 26px;
	margin-left: 10px;
}
#footer a{
	color: #ffffff;
}
#footer a:hover{
	color: #c59a6d;}

.calendar a{
	color: white
}
.calendar {
    font-family: Helvetica, arial;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 10px;
    fill: #aaa;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {
    padding: 5px 0 0;
    text-align: center;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 11px;
}

.contrib-column-first {
    border-left: 0;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: white;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}
#user-activity-overview{
    display:none;
}

.off-white,
.lakers{
	display: block;
	max-width: 100%;
	height: 100%;
}
.superCarsContainer{
	display: block;
	text-align: center;
}
.super-cars{
	display: block;
	max-width: 100%;
	height: 100%;
	margin: auto;
}

.lakersMemoryMatch,
.offWhiteShoesShop,
.superCars{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.lakersGitHub,
.offWhiteGitHub,
.superCarsGitHub{
	margin-right: 15px;
}

.lakersGitHub,
.lakersLive,
.offWhiteGitHub,
.offWhiteLive,
.superCarsGitHub,
.superCarsLive {
	margin-bottom: 10px !important;
	color: #c59a6d;
	font-size: 25px;
}

.profilePic{
	width: 450px;
	height: 300px;
}

.footerLocation,
.footerEmail{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerLocationIcon,
.footerEmailIcon{
	margin-right: 10px;
}

.footerPhone{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
}

.footerPhoneIcon{
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerEmailIcon,
.footerEmailText{
	display: flex;
	justify-content: center;
	align-items: center;
}

.timothylee{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.footerSpace{
	padding-top: 35px;
}

.footerLinks{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 55px;
	font-size: 3.5rem;
}

.footerGitHub,
.footerLinkedIn,
.footerResume{
	color: white;
	margin: 0% 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerPhoneNumber {
	cursor: pointer;
}

.aboutMeLinks{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

.aboutMeBorder{
	height: 4rem;
	width: 5rem;
	border: 3px solid black;
	border-radius: 100px;
}

.footerLinks .border{
	height: 5.5rem;
	width: 5.5rem;
	color: white;
	border: 3px solid white;
	border-radius: 100px;
}

.aboutMePicLinks{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.aboutMeLinks{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.aboutMeGitHub,
.aboutMeLinkedIn,
.aboutMePhone,
.aboutMeEmail,
.aboutMeResume{
	color: black;
	margin: 0% 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutMeDescription{
	margin-top: 10px;
	padding:0 25px;
}

.projectContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.superCarContainer{
	margin-top: 30px;
}

.applicationsDescription{
	width: 100%;
}

.projectsText {
	margin-top: 15px;
}

.projectsTitleText{
	font-size: 27px;
}

.projectsDescription{
	padding: 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#skills {
	background-color: gray;
}
